<a href="https://colab.research.google.com/github/IBM-EPBL/IBM-Project-8389-1658917403/blob/main/921319205022_Deepasuruthi_Assignment_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Exercises**

Answer the questions or complete the tasks outlined in bold below, use the specific method described if applicable.

** What is 7 to the power of 4?**

In [3]:
print(pow(7,4))

2401

** Split this string:**

s = "Hi there Sam!"

**into a list. **

In [4]:
s="Hi there Sam"
s.split(" ");

In [5]:
s="Hi there dad!"
s.split(" ");

** Given the variables:**

planet = "Earth"

diameter = 12742

** Use .format() to print the following string: **

The diameter of Earth is 12742 kilometers.

In [6]:
planet ="Earth"
diameter ="12742"

In [7]:
print("The diameter of ",planet ,"is",diameter , "kilometers.")

The diameter of  Earth is 12742 kilometers.

** Given this nested list, use indexing to grab the word "hello" **

In [10]:
lst =[1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]

In [11]:
print(lst[3][1][2])

['hello']

** Given this nest dictionary grab the word "hello". Be prepared, this will be annoying/tricky **

In [12]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [13]:
tup=(1,2,3,4,5)
print("tuple==>",tup)
lis=[1,2,3,4]
print("List==>",lis)

tuple==> (1, 2, 3, 4, 5)
List==> [1, 2, 3, 4]

** What is the main difference between a tuple and a list? **

In [32]:
# Tuple is immutable

** Create a function that grabs the email website domain from a string in the form: **

user@domain.com

So for example, passing "user@domain.com" would return: domain.com

In [21]:
def domainGet(email):
  return email.split('@')[-1]

In [22]:
domainGet('user@domain.com')

'domain.com'

** Create a basic function that returns True if the word 'dog' is contained in the input string. Don't worry about edge cases like a punctuation being attached to the word dog, but do account for capitalization. **

In [23]:
def findDog(st):
     return 'dog' in st.lower().split()

In [24]:
findDog('Is there a dog here?')

True

** Create a function that counts the number of times the word "dog" occurs in a string. Again ignore edge cases. **

In [25]:
def countDog(st):
     count = 0
     for word in st.lower().split():
         if word == 'dog':
             count += 1
     return count

In [26]:
countDog('This dog runs faster than the other dog dude!')

2

**Problem**

*You are driving a little too fast, and a police officer stops you. Write a function to return one of 3 possible results: "No ticket", "Small ticket", or "Big Ticket". If your speed is 60 or less, the result is "No Ticket". If speed is between 61 and 80 inclusive, the result is "Small Ticket". If speed is 81 or more, the result is "Big Ticket". Unless it is your birthday (encoded as a boolean value in the parameters of the function) -- on your birthday, your speed can be 5 higher in all cases. *

In [27]:
def caught_speeding(speed, is_birthday):
    
    if is_birthday:
        speeding = speed - 5
    else:
        speeding = speed
    
    if speeding > 80:
        return 'Big Ticket'
    elif speeding > 60:
        return 'Small Ticket'
    else:
        return 'No Ticket'

In [28]:
caught_speeding(81,False)

'Big Ticket'

In [29]:
caught_speeding(81,True)

'Small Ticket'

Create an employee list with basic salary values(at least 5 values for 5 employees) and using a for loop retreive each employee salary and calculate total salary expenditure.

In [30]:
employee=[400,500,550,600,250]
sum=0
print ("salaryof 1st person is",employee[0])
print ("salaryof 2nd person is",employee[1])
print ("salaryof 3rd person is",employee[2])
print ("salaryof 4th person is",employee[3])
print ("salaryof 5th person is",employee[4])
for x in employee:
  sum=sum+x
print("The total salary is", sum)

salaryof 1st person is 400
salaryof 2nd person is 500
salaryof 3rd person is 550
salaryof 4th person is 600
salaryof 5th person is 250
The total salary is 2300

Create two dictionaries in Python:

First one to contain fields as Empid, Empname, Basicpay

Second dictionary to contain fields as DeptName, DeptId.

Combine both dictionaries.

In [31]:
d1 = { "Empid":9213,"Empname":"MaxAdam","Basicpay": 80000}
d2 = {"deptname":"Software Engineering" , "DEPTID": '205'}
print({**d1 , **d2})

{'Empid': 9213, 'Empname': 'MaxAdam', 'Basicpay': 80000, 'deptname': 'Software Engineering', 'DEPTID': '205'}